html {
  scroll-behavior: smooth;
  text-size-adjust: 100%;
  font-size: 20px; /* mudar */
}

body{
    padding: 5px;
    color:var(--text-color);
    background-color: var(--background-color);
    font-family: var(--base-font);  
}

p {
  color: var(--text-color);
  font-weight: var(--text-weight);
  text-indent: 2em;
  font-weight: 400;
  margin-left: 2vw;
  margin-right: 2em;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-color);
  font-weight: 400;
  margin-left: 2vw;
}

li, img {
  color: var(--text-color);
  text-indent: 0;
}

ul {
  color: var(--text-color);
  text-indent: -1rem;
}

a {
  color: var(--link-color);
  margin-left: 1em;
}

hr {
  width: 98vw;
  border: none;
  border: 1px solid;
  border-color: rgb(50, 50, 50);
}

legend {
  padding: 5px;
}