#figure_icon {
  margin: 0px;
  height: 10vh;
  display: flex;
  justify-content: center;
}

#icon {
  height: 100%;
}

#title {
  margin-top: 3.5vh;
  margin-left: 0.5em;
  text-indent: 0px;
  font-size: 30px;
}

/* MENU */

.menu {
  background-color: rgb(10, 10, 10);
  height: 10vh;
  /* flex */
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.menu a {
  color: rgb(255, 255, 255);
  height: 35%;
  text-decoration: none;

  transition: background-color 0.2s, color 0.2s;
  border-radius: 1px;

  /* flex */
  display: flex;
  flex-grow: 0.2;
  justify-content: center;
  align-items: center;
}

.menu a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

/* MAIN */

.galeria {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.intext {
  width: 40vw;
  height: auto;
  margin-top: 10px;
}

.imagem {
  width: auto;
  height: 25vh;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* FOOTER */

footer h2 {
  font-size: 1.3em;
  margin-bottom: 0px;
}

footer p {
  margin-top: 2px;
}

.inlink {
  margin-left: 0.125em;
}

/* Este arquivo define os componentes da interface
 * Um componente pode ser reutilizado em vários pontos da página, ou mesmo em outros projetos
 * Exemplos: galeria de imagens, cards, tabelas, botões etc 
 */

 /* componentes: classes */

/* Galeria de Imagens */
.gallery {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;

  background-color: var(--background-color);
  padding: 5px;
  text-align: center;
  border-radius: var(--radius);
  border: var(--border-width) solid var(--destack-color);
}
.gallery figure {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 5px;
  border: var(--border-width) outset var(--destack-color);
  border-radius: var(--radius);
  background-color: var(--background-color);
    
}
.gallery figure img{
  width:90%;
  border-radius: var(--radius);
  margin-top:10px
}

/*  galeria de textos*/

.gallery article {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 5px;
  max-width: 300px;
  
  background-color: var(--background-color);
  border-top: var(--border-width) solid var(--destack-color);
  border-bottom: var(--border-width) solid var(--destack-color);
  border-radius: var(--radius);
}

/* Formulário! */

#divflexcomunidade {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 100%;
}

@media (width > 600px) {
  #divflexcomunidade {
    grid-template-columns: 50% 50%;
  }
}

.label {
  display: grid;
  align-items: center;
  grid-template-columns: 50% 50%;
}

.login {
  padding-inline-start: 30px;
}

.input {
  min-width: 0px;
  max-width: 40vw;
}

#submit {
  margin-left: 30px;
}

#icone_comunidade {
  width: fit-content;
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
  margin: 0px;
  color: var(--text-color);
}

#icone_comunidade img {
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
  width: 30vw;
}

/* MOSAICO */

#container_mosaico {
  display: grid;
  overflow: hidden;
  align-items: center;
  width: 75vw;
  margin: 0 auto;
  gap: 10px;
  grid-template-columns: 33% 33% 33%;
}

.mos {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s;
}

.mos:hover {
  transform: scale(1.04);
}

/* BANNER ANIMADO */

.banner {
  width: 90vw;
  height: 30vw;
  margin: 0 auto;
  border: 2px solid gray;
  overflow: hidden;
  background-color: rgb(50, 50, 50);

  animation-name: explosao;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-timing-function: linear;
}

@keyframes explosao {
  0% {
    background-color: rgb(50, 50, 50);
  }
  32% {
    background-color: rgb(50, 50, 50);
  }
  33% {
    background-color: white;
  }
  100% {
    background-color: rgb(50, 50, 50);
  }
}

#earth {
  width: 40vw;
  height: 40vw;
  position: relative;
  left: 60vw;
  top: 15vw;
  z-index: 10;

  animation-name: tremer;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-timing-function: linear;
}

@keyframes tremer {
  0% {
    transform: translate(0vw, 0vw);
  }
  30% {
    transform: translate(0vw, 0vw);
  }
  33% {
    transform: translate(1vw, 0vw);
  }
  44% {
    transform: translate(-1vw, 0vw);
  }
  55% {
    transform: translate(1vw, 0vw);
  }
  66% {
    transform: translate(-1vw, 0vw);
  }
  77% {
    transform: translate(1vw, 0vw);
  }
  88% {
    transform: translate(-1vw, 0vw);
  }
  100% {
    transform: translate(0vw, 0vw);
  }
}

#meteor {
  width: 10vw;
  height: 10vw;
  position: relative;
  left: -50vw;
  top: -40vw;

  animation-name: cair;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-timing-function: linear;
}

@keyframes cair {
  0% {
    transform: rotate(255deg);
  }

  33% {
    transform: rotate(255deg) translate(-60vw, 80vw);
  }

  100% {
    transform: translate(-60vw, 80vw);
  }
}