#figure_icon {
  margin: 0px;
  height: 10vh;
  display: flex;
  justify-content: center;
}

#icon {
  height: 100%;
}

#title {
  margin-top: 3.5vh;
  margin-left: 0.5em;
  text-indent: 0px;
}

/* MENU */

.menu {
  background-color: rgb(10, 10, 10);
  height: 10vh;
  /* flex */
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.menu a {
  color: rgb(255, 255, 255);
  height: 35%;
  text-decoration: none;

  transition: background-color 0.2s, color 0.2s;
  border-radius: 1px;

  /* flex */
  display: flex;
  flex-grow: 0.2;
  justify-content: center;
  align-items: center;
}

.menu a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

/* MAIN */

.galeria {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.intext {
  width: 40vw;
  height: auto;
  margin-top: 10px;
}

.imagem {
  width: auto;
  height: 25vh;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* FOOTER */

footer h2 {
  font-size: 1.3em;
  margin-bottom: 0px;
}

footer p {
  margin-top: 2px;
}

.inlink {
  margin-left: 0.125em;
}

/* Este arquivo define os componentes da interface
 * Um componente pode ser reutilizado em vários pontos da página, ou mesmo em outros projetos
 * Exemplos: galeria de imagens, cards, tabelas, botões etc 
 */

 /* componentes: classes */

/* Galeria de Imagens */
.gallery {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;

  background-color: var(--background-color);
  padding: 5px;
  text-align: center;
  border-radius: var(--radius);
  border: var(--border-width) solid var(--destack-color);
}
.gallery figure {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 5px;
  border: var(--border-width) outset var(--destack-color);
  border-radius: var(--radius);
  background-color: var(--background-color);
    
}
.gallery figure img{
  width:90%;
  border-radius: var(--radius);
  margin-top:10px
}

/*  galeria de textos*/

.gallery article {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 5px;
  max-width: 300px;
  
  background-color: var(--background-color);
  border-top: var(--border-width) solid var(--destack-color);
  border-bottom: var(--border-width) solid var(--destack-color);
  border-radius: var(--radius);
}

/* Formulário! */

#divflexcomunidade {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 100%;
}

@media (width > 600px) {
  #divflexcomunidade {
    grid-template-columns: 50% 50%;
  }
}

.label {
  display: grid;
  align-items: center;
  grid-template-columns: 50% 50%;
}

.login {
  padding-inline-start: 30px;
}

.input {
  min-width: 0px;
  max-width: 40vw;
}

#submit {
  margin-left: 30px;
}

#icone_comunidade {
  width: fit-content;
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
  margin: 0px;
  color: var(--text-color);
}

#icone_comunidade img {
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
  width: 30vw;
}

/* MOSAICO */

#container_mosaico {
  display: grid;
  overflow: hidden;
  align-items: center;
  width: 98vw;
  gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
}

#mos1 {
  grid-column: 1;
  grid-row: 1;
  max-width: 100%;
}

#mos2 {
  grid-column: 2;
  grid-row: 1;
  max-width: 100%;
}

#mos3 {
  grid-column: 3;
  grid-row: 1;
  max-width: 100%;
}

#mos4 {
  grid-column: 1;
  grid-row: 2;
  max-width: 100%;
}

#mos5 {
  grid-column: 2;
  grid-row: 2;
  max-width: 100%;
}